HotelReservationSystem/HotelReservationSystem/Web References/JavaWebService/CustomerWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://webservice.mcda5510.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://webservice.mcda5510.com" targetNamespace="http://webservice.mcda5510.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://webservice.mcda5510.com">
      <xsd:element name="getTransaction">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ID" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getTransactionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getTransactionReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateTransaction">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ID" type="xsd:int" />
            <xsd:element name="cardHolderName" type="xsd:string" />
            <xsd:element name="unitPrice" type="xsd:double" />
            <xsd:element name="quantity" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateTransactionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="updateTransactionReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createTranscation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CustomerID" type="xsd:int" />
            <xsd:element name="nameOnCard" type="xsd:string" />
            <xsd:element name="cardNumber" type="xsd:string" />
            <xsd:element name="unitPrice" type="xsd:double" />
            <xsd:element name="quantity" type="xsd:int" />
            <xsd:element name="expDate" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createTranscationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="createTranscationReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteTransaction">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ID" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteTransactionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="deleteTransactionReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createTranscationRequest">
    <wsdl:part name="parameters" element="impl:createTranscation" />
  </wsdl:message>
  <wsdl:message name="updateTransactionResponse">
    <wsdl:part name="parameters" element="impl:updateTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="updateTransactionRequest">
    <wsdl:part name="parameters" element="impl:updateTransaction" />
  </wsdl:message>
  <wsdl:message name="getTransactionResponse">
    <wsdl:part name="parameters" element="impl:getTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="deleteTransactionRequest">
    <wsdl:part name="parameters" element="impl:deleteTransaction" />
  </wsdl:message>
  <wsdl:message name="getTransactionRequest">
    <wsdl:part name="parameters" element="impl:getTransaction" />
  </wsdl:message>
  <wsdl:message name="deleteTransactionResponse">
    <wsdl:part name="parameters" element="impl:deleteTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="createTranscationResponse">
    <wsdl:part name="parameters" element="impl:createTranscationResponse" />
  </wsdl:message>
  <wsdl:portType name="CustomerWebService">
    <wsdl:operation name="getTransaction">
      <wsdl:input name="getTransactionRequest" message="impl:getTransactionRequest" />
      <wsdl:output name="getTransactionResponse" message="impl:getTransactionResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateTransaction">
      <wsdl:input name="updateTransactionRequest" message="impl:updateTransactionRequest" />
      <wsdl:output name="updateTransactionResponse" message="impl:updateTransactionResponse" />
    </wsdl:operation>
    <wsdl:operation name="createTranscation">
      <wsdl:input name="createTranscationRequest" message="impl:createTranscationRequest" />
      <wsdl:output name="createTranscationResponse" message="impl:createTranscationResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteTransaction">
      <wsdl:input name="deleteTransactionRequest" message="impl:deleteTransactionRequest" />
      <wsdl:output name="deleteTransactionResponse" message="impl:deleteTransactionResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerWebServiceSoapBinding" type="impl:CustomerWebService">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTransaction">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getTransactionRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTransactionResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTransaction">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="updateTransactionRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateTransactionResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createTranscation">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="createTranscationRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createTranscationResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTransaction">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="deleteTransactionRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteTransactionResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerWebServiceService">
    <wsdl:port name="CustomerWebService" binding="impl:CustomerWebServiceSoapBinding">
      <wsdlsoap:address location="http://dev.cs.smu.ca:9080/Assignment3/services/CustomerWebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>